[submodule "reg_tests/r-test"]
	path = reg_tests/r-test
	url = https://github.com/openfast/r-test.git
[submodule "unit_tests/pfunit"]
	path = unit_tests/pfunit
	url = https://github.com/Goddard-Fortran-Ecosystem/pFUnit.git
