# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# CMake specific files
build/**/*
install/*
ctest-build/*

# vs-build specific folders and files
Debug
x64
Release
Release_Double
Debug-Double Precision
Release-Double Precision
*.opensdf
*.user
*.suo
*.sdf
*.u2d
*.pdb
*.tlog
gitVersionInfo.h

build
.DS_Store
