[submodule "reg_tests/r-test"]
	path = reg_tests/r-test
	url = git@github.com:/OpenFAST/r-test.git
[submodule "unit_tests/pfunit"]
	path = unit_tests/pfunit
	url = git@github.com:/Goddard-Fortran-Ecosystem/pFUnit.git
