# Travis CI configuration

language: c

os: linux
dist: bionic
env:  FC=/usr/bin/gfortran-8 ; CXX=/usr/bin/g++-8 ; CC=/usr/bin/gcc-8
packages: g++-8
sudo: true
    
before_install:
      # linux configuration
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install g++-8 gfortran-8 libblas-dev liblapack3 liblapack-dev; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" && "$CPP_API" == "ON" ]]; then sudo apt-get install libopenmpi-dev libyaml-cpp-dev libhdf5-dev libxml2-dev; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pyenv shell 3.7.1; fi
    - apt-cache policy libblas-dev
    - apt-cache policy liblapack-dev
    - ls -la /usr/lib/x86_64-linux-gnu/liblapa* 
    - ldd /usr/lib/x86_64-linux-gnu/liblapack.so 

    # common configuration
    - pip install numpy

install:
    - mkdir build && cd build
    - cmake .. -DCMAKE_BUILD_TYPE=DEBUG -DDOUBLE_PRECISION=OFF
    - make -j4 
    - cd ..
    - git clone https://github.com/ebranlard/weio
    - python --version
    - pip install -r weio/requirements.txt
    - pip install -e weio
    - git clone https://github.com/ebranlard/tcf-test 
    - cp build/glue-codes/openfast/openfast tcf-test
    - cd tcf-test

script:
    - ls
    - make
