# Travis CI configuration
#
# Environment info
# https://docs.travis-ci.com/user/reference/overview/
# https://docs.travis-ci.com/user/reference/osx/
# https://docs.travis-ci.com/user/reference/trusty/

language: c

matrix:
  include:
    - os: linux
      dist: bionic
      env: FC=/usr/bin/gfortran-7; DOUBLE_PRECISION=ON
    - os: linux
      dist: bionic
      env: FC=/usr/bin/gfortran-7; DOUBLE_PRECISION=OFF
    - os: linux
      dist: bionic
      env: FC=/usr/bin/gfortran-7; DOUBLE_PRECISION=ON; CPP_API=ON; CMAKE_FLAGS="-DBUILD_OPENFAST_CPP_API=$CPP_API"
    - os: osx
      osx_image: xcode9.2
      env: FC=/usr/local/bin/gfortran-7; DOUBLE_PRECISION=ON
    - os: osx
      osx_image: xcode9.2
      env: FC=/usr/local/bin/gfortran-7; DOUBLE_PRECISION=OFF

# macos dependency install
addons:
  homebrew:
    packages:
      - gcc@7
      - yaml-cpp
      - hdf5
      - open-mpi
    update: true
    
before_install:
    # mac configuration
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew upgrade python; fi

    # linux configuration
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install gfortran libblas-dev liblapack-dev; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" && "$CPP_API" == "ON" ]]; then sudo apt-get install libopenmpi-dev libyaml-cpp-dev libhdf5-dev libxml2-dev; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pyenv shell 3.7.1; fi

    # common configuration
    - pip3 install numpy

install:
    - mkdir build && cd build
    - cmake .. -DCMAKE_BUILD_TYPE=DEBUG -DBUILD_TESTING=ON -DBUILD_SHARED_LIBS=ON -DDOUBLE_PRECISION=$DOUBLE_PRECISION $CMAKE_FLAGS
    - cat CMakeCache.txt
    - make -j4 install

script:
    # beamdyn unit tests
    - if [[ "$DOUBLE_PRECISION" == "ON" ]]; then ctest -VV -R beamdyn_utest; fi

    # beamdyn regression tests
    - if [[ "$DOUBLE_PRECISION" == "ON" ]]; then ctest -j4 -VV -R bd_; fi

    # subset of openfast regression tests
    # do not run
    # - 3, 4, 7, 15, 16, 17 since the free yaw is not well trusted
    # - 20, 21 because theyre too long
    # THIS IS COMMENTED UNTIL TESTS CAN RELIABLY DETERMINE REGRESSION
    # CURRENTLY, TESTS FAIL WITH VERY MINOR DIFFERENCES
    # - ctest -VV -j 18 -I 1,1,1,2,5,6,8,9,10,11,12,13,14,18,19,22,23,24,25,26
    # - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ctest -j 18 -I 1,1,1,2,5,6,8,9,10,11,12,13,14,18,19,22,23,24,25,26 ; fi
